# dask bs 
**/dask-worker-space
**/*.lock
**/*worker-*

# ignore venv 
**/venv

# ignore env file
**/*.env

**/*.pem
**/.ipynb_checkpoints
**/__pycache__
**/.vscode
**/Untitled.ipynb
**/Example.ipynb

**/build
**/*.egg-info
**/dist
